name: dynamic_tab_zenrouter
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ^3.11.0-271.0.dev

dependencies:
  flutter:
    sdk: flutter
  zenrouter: ^0.4.11

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
